# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Plotly
6. Scikit-Learn

#### Data Science Tools

| No | Tools |
| -- | -- |
| 1 | Apache Sparks |
| 2 | D3.js |
| 3 | IBM SPSS |
| 4 | Julia |
| 5 | Jupyter Notebook |
| 6 | Keras |
| 7 | Matlab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [18]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [24]:
#This will convert 200 minutes to hours by diving by 60

minute = 200
hour = int(minute/60)
print(hour)

3

__Objective__
* Python
* R
* SQL

## Author
Endra Sumpadang